.history-container{
    width:1000px;
    margin:50px auto;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.history-title{
    text-align:center;
    margin-bottom:30px;
}

.history-table{
    width:100%;
    border-collapse:collapse;
}

.history-table th{
    background:#2563eb;
    color:white;
    padding:15px;
}

.history-table td{
    padding:15px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

.history-table tr:hover{
    background:#f5f7ff;
}