<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>

<body>

<div class="dashboard">

    <h1>Welcome, Hridhanya 👋</h1>

    <p>Your AI Placement Companion</p>

    <div class="cards">

        <div class="card">
            🔥
            <h2>12</h2>
            <p>Day Streak</p>
        </div>

        <div class="card">
            ⭐
            <h2>1250</h2>
            <p>XP</p>
        </div>

        <div class="card">
            🏆
            <h2>5</h2>
            <p>Level</p>
        </div>

    </div>

</div>

</body>

</html>