<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>

<body>

<div class="dashboard">

    <div class="top-bar">
    <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
    </div>

    <a href="{{ url_for('progress') }}">
    <button>View DSA Progress</button>
    </a>

    <a href="{{ url_for('resume') }}">
    <button>Resume Analyzer</button>
    </a>

    <h1>Welcome, {{ name }} 👋</h1>

    <p>Your AI Placement Companion</p>

    <div class="cards">

        <div class="card">
            🔥
            <h2>{{ completed }}</h2>
            <p>Completed Topics</p>
        </div>

        <div class="card">
            ⭐
            <h2>{{ xp }}</h2>
            <p>XP</p>
        </div>

        <div class="card">
            🏆
            <h2>{{ level }}</h2>
            <p>Level</p>
        </div>

    </div>

</div>

</body>

</html>