<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="login-container">

    <h1>Create Account 🚀</h1>

    <p>Start your placement journey today.</p>

    <form>

        <input
            type="text"
            placeholder="Full Name">

        <input
            type="email"
            placeholder="Email">

        <input
            type="password"
            placeholder="Password">

        <input
            type="password"
            placeholder="Confirm Password">

        <button>

            Register

        </button>

    </form>

</div>

</body>

</html>